[Unit]
Description=My Python GPIO Script
After=network.target

[Service]
Type=simple

# User
User=aapo
Group=gpio
SupplementaryGroups=gpio

Environment=PYTHONUNBUFFERED=1

# Command to run
ExecStart=/home/pi/Desktop/koura/venv_koura/bin/python /home/pi/Desktop/koura/server_pi.py

# Restart 
Restart=on-failure
RestartSec=5

# Directory
WorkingDirectory=/home/pi/Desktop/koura  

# Standard logs
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
