[Unit]
Description=Connect to Hotspot and Start Server
After=network.target

[Service]
Type=oneshot
ExecStart=/home/pi/wifi_switch.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
